$primary-color: rgb(233, 67, 55);
$secondary-color: lighten($primary-color, 10%);
$shade-color : darken($primary-color, 20%);
$text-color: rgb(233, 206, 206);
$light-text-color: white;
$font-header: 'Roboto', sans-serif;
$font-body: 'Courgette', cursive;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
    background: #9CECFB;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #0052D4, #65C7F7, #9CECFB);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #0052D4, #65C7F7, #9CECFB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    h1, h2, h3, h4, h5, h6, p {
        padding: 0;
        margin: 0
    }

}

.Ui{
    max-width: 20rem;
    background-color: $primary-color;
    margin: 5em auto;
    box-shadow: -10px -10px 10px rgba(0, 0, 0, 10)
 }

.Header{
    color: $text-color;
    font-family: $font-header;
    text-align: left;
    padding: 0.1em;
    width: 80%;
    margin: 0 auto;

    h1{
        margin:0.2em
    }
    p{
        font-size: 0.7em;
        font-weight: 200;
        margin-bottom: 0.5em
    }

    hr{
        border-color: lighten($primary-color, 10%);
        margin-bottom: 1em
    }

}

.List{
    color: $light-text-color;
    background-color: $secondary-color;
    width: 100%;
    padding: 0.8em 2em;
    margin-bottom: 0.8em;
    display: grid;
    grid-template-columns:80% 10% 10% ;

    p{
        transition: all 0.5s;
    }

    span{
        padding: 0 0.5em;
        cursor: pointer;
    }
}

#form{
    width: 80%;
    margin: 0 auto;
    padding: 0.5em 0;

    input{
        height: 2.2em;
    }
    input:focus{
        border: 0
    }
    ::placeholder{
        padding: 0 1em;
        font-family: $font-body;
    }
    button{
        cursor: pointer;
        color: $text-color;
        height: 2.2em;
        background-color: $shade-color;
        border: 0.5px $secondary-color solid;
        padding: 0 0.5em;
        margin-left: 0.2em;
        transition-duration: 0.4s;
    }
    button:hover{
        background-color: $secondary-color;
        border: 0.5px $shade-color solid;
    }
}

.strike{
    text-decoration: line-through;
    color: $text-color !important;
}